* {
	text-align: center;
}

h1 {
	color: #2ba2c6;
}

h2 {
	color: black;
}

body {
	background-image: url("https://edge.alluremedia.com.au/m/g/2015/09/tesla_model_x.jpg");
}
#favoritething2 .content h2 {
	background-image: url(https://i.ytimg.com/vi/oBI0MU73nlc/maxresdefault.jpg);
	background-size: cover;
	background-position: bottom center;
	width: 1440px;
	height: 600px;

}